[submodule "Project-4"]
	path = Project-4
	url = https://github.com/khadijaJadmy/Project-4.git
[submodule "Project-1"]
	path = Project-1
	url = https://github.com/khadijaJadmy/Project-1.git
[submodule "Project-3"]
	path = Project-3
	url = https://github.com/khadijaJadmy/Project-3.git
[submodule "Project-2"]
	path = Project-2
	url = https://github.com/khadijaJadmy/Project-2.git
